/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild*/
/[Ll]ogs/
/[Uu]serSettings/
/MemoryCaptures/
/ProjectSettings/EditorBuildSettings.asset
/[Pp]ackages/com.unity.testtools.codecoverage/

*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vs/
.idea/
.DS_Store
Thumbs.db